*{
    margin: 40;
    padding: 40;
    box-sizing: border-box;
}

.grid01{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "aside main footer01"
    "aside main footer02";
    justify-content: center;
    align-content: center;
}



.aside{
    height: 30rem;
    grid-area: aside;
    width: 30rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

.main{
    height: 30rem;
    grid-area: main;
    width: 30rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

.footer01{
    height: 20rem;
    grid-area: footer01;
    width: 20rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

.footer02{
    height: 20rem;
    grid-area: footer02;
    width: 20rem;
    background-color: orange;
    border-radius: 2rem;
}

a{
    background-color: rgb(167, 194, 218);
    padding: 1fr;
    border-radius: 1fr;
}

img{
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
}

.ler-mais{
    background-color: black;
    color: white;
    border-radius: 2rem;
}

.bt01{
    background-color: aliceblue;
    border-radius: 1.5rem;
}

.bt02{
    background-color: aliceblue;
    border-radius: 1.5rem;
}

.bt03{
    background-color: aliceblue;
    border-radius: 1.5rem;
}