*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 200vh;
    justify-content: center;
    align-content: center;
}
.grid-container{
    background-color: crimson;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px;
    gap: 10px;
    width: 600px;
    height: 500px;
    grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
    justify-content: center;
    align-content: center;
    justify-items: center;

}

.header{grid-area: header;}
.menu{grid-area: menu;}
.main{grid-area: main;}
.footer{grid-area: footer;}

.grid-item{
    display: inline-block;
    background-color:darkslategrey;
    padding: 30px;
    text-align: center;
}

style{
    display: grid;
    grid-gap: 10px;
}